@charset "UTF-8";

@font-face {
    font-family: Neulis_sans_light;
    src: url(../Fonts/Neulis/fonnts.com-Neulis_Sans_Light.otf);
}

@font-face {
    font-family: Neulis_sans_regular;
    src: url(../Fonts/Neulis/fonnts.com-Neulis_Sans_Regular.otf);
}

@font-face {
    font-family: Neulis_sans_medium;
    src: url(../Fonts/Neulis/fonnts.com-Neulis_Sans_Medium.otf);
}

@font-face {
    font-family: Neulis_sans_semi-bold;
    src: url(../Fonts/Neulis/fonnts.com-Neulis_Sans_Semi_Bold.otf);
}

@font-face {
    font-family: Neulis_cursive_regular;
    src: url(../Fonts/Neulis/fonnts.com-Neulis_Cursive_Regular.otf);
}

@font-face {
    font-family: Neulis_cursive_medium;
    src: url(../Fonts/Neulis/fonnts.com-Neulis_Cursive_Medium.otf);
}

@font-face {
    font-family: Neulis_cursive_semi-bold;
    src: url(../Fonts/Neulis/fonnts.com-Neulis_Cursive_Semi_Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --cor0: #0688fe;
    --cor1: #00b221;

    --font1: Neulis_sans_light;
}

html{
    width: 100%;
}

header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: var(--font1);
    padding: 20px
}

header img{
    display: inline-block;
    width: 200px;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: -15px
}


.menu {
    list-style: none;
    display: flex;
    width: 100px;
    font-family: var(--font1);
    text-align: center;
    margin-bottom: -20px;
}

.menu li {
    position: relative;
    float: left; 
}

.menu li a {
    color: #096bc6;
    text-decoration: none;
    padding: 5px 10px;
    display:block;
    width: 200px;
    font-weight: 1000;
   
}

.menu li a:hover {
    background: var(--cor1);
    color: black;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
    border-radius: 5px;
}


.menu li ul {
    position: absolute;
    top: 25px;
    left: 0px;
    background-color: #ffffffe1;
    display: none;
    border-radius: 0px 0px 5px 5px;
    
}

.menu li:hover ul,
.menu li.over ul {
    display: block;
}

.menu li ul li{
    display:block;
    width:200px;
    }

    .menu2 {
        list-style: none;
        display: flex;
        float:left;
        width: 200px;
        margin-top: 4px;
        border-radius: 5px;
    }
    
    .menu2 li {
        position: relative;
        float: left;
    }
    
    .menu2 li a {
        color: #096bc6;
        text-decoration: none;
        display:block;
        font-weight:lighter;
       
    }
    
    .menu2 li a:hover {
        background: var(--cor1);
        color: rgb(0, 0, 0);
        -moz-box-shadow: 0 3px 10px 0 #CCC;
        -webkit-box-shadow: 0 3px 10px 0 #ccc;
        -webkit-animation:alternate;
        text-shadow: 0px 0px 5px #fff;
        border-radius: 5px;
    }

    .menu2 li a:focus-within{
        background-color:var(--cor1);
        color: var(--cor0);
        border: none;
    }

    .menu2 li ul {
        position: absolute;
        top: 25px;
        left: 0px;
        background-color: #fff;
        display: none;
    }
    
    .menu2 li:hover ul,
    .menu2 li.over ul {
        display: block;
    }
    
    .menu2 li ul li{
        border:1px solid #000000;
        display:block;
        width:200px;
        }

    main{
        min-width: 300px;
        max-width: 1500px;
        margin: auto;
        margin-top: 15px;
        background-color: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.443);
        border-radius: 10px
    }

    main img.foto1{
        max-width: 100%;
        display: block;
        margin: auto;
    }

    main h1{
        font-family: Neulis_cursive_medium;
    }

    main h3{
        font-family: Neulis_sans_light;
    }
    

    div > a > input[type=submit]{
        display:flex;
        font-size: 1em;
        width: 8%;
        height: 8%;
        background-color: #49a09d;
        color: white;
        border: none;
        border-radius: 5px;
        text-align: center;
        margin-left: 90%;
        margin-bottom: 10px;
        margin-top: -25px;
        padding: 10px;

    }
    div > a > input[type=submit]:hover{
        background-color: var(--cor0);
        cursor: pointer;
        text-decoration: none;
    }
    
    footer{
        margin:2%;
        text-align: center;
        color: #096bc6;
    }